<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DATA</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script src="../static/index.js" defer></script>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <body>
    <div class="containt">
      <div class="data_players">
        <div class="nba">
          <h4>
            NBA
          </h4>
          <div class="tab">
          <table class="table table-success table-striped nba">
            <thead>
              <tr>
                <th>Joueurs</th>
                <th>Salaire</th>
              </tr>
            </thead>
            <tbody class="tbody_nba"></tbody>
          </table>
        </div>
        </div>
        <div class="nfl">
          <h4>
            NFL
          </h4>
          <div class="tab">
          <table class="table table-success table-striped nfl">
            <thead>
              <tr>
                <th>Joueurs</th>
                <th>Salaire</th>
              </tr>
            </thead>
            <tbody class="tbody_nfl"></tbody>
          </table>
        </div>
        </div>
      </div>
      <!-- championat -->
      <div class="championships">
        <div class="premier_league">
          <h4>
            Premier League
          </h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Team</th>
                <th>Market Value</th>
              </tr>
            </thead>
            <tbody class="tbody_premier_league"></tbody>
          </table>
        </div>
        <!-- serieA -->
        <div class="serie_a">
          <h4>
            Serie A
          </h4>
          <table class="">
          <table class="table table-dark table-striped-columns">
            <thead>
              <tr>
                <th>Team</th>
                <th>Market Value</th>
              </tr>
            </thead>
            <tbody class="tbody_serie_a"></tbody>
          </table>
        </div>
        <!-- liga -->
        <div class="liga">
          <h4>
            Liga
          </h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Team</th>
                <th>Market Value</th>
              </tr>
            </thead>
            <tbody class="tbody_liga"></tbody>
          </table>
        </div>

        <!-- bundesliga -->
        <div class="bundesliga">
            <h4>
              Bundesliga
            </h4>
            <table class="table table-dark table-striped-columns">
              <thead>
                <tr>
                  <th>Team</th>
                  <th>Market Value</th>
                </tr>
              </thead>
              <tbody class="tbody_bundesliga"></tbody>
            </table>
          </div>

          <!-- ligue 1 -->
          <div class="ligue_1">
            <h4>
              Ligue 1
            </h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Team</th>
                  <th>Market Value</th>
                </tr>
              </thead>
              <tbody class="tbody_ligue_1">

              </tbody>
            </table>
          </div>

      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
